* {
    border: 1px black solid;
}

header {
    background-color: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

input {
    margin: 20px;
}

#addCityHere {
    border-top: 1px grey solid;
    margin: 10px;
}